.cList {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  margin: 60px 0 30px 70px;
  padding: 0;
  width: 760px;

  &__item {
    position: relative;
    width: 355px;

    &:nth-of-type(2n) {
      margin-left: 40px;
    }
  }

  &__img {
    
    &-wrapper {
      display: flex;
      height: 380px;

      background-color: #efefef;
    }
  }

  &__item:hover > &__modal {
    display: block;
  }

  &__label {
    display: flex;

    &-big {
      display: inline-block;
      width: 250px;

      font-family: 'Gilroy', sans-serif;
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__price {
    margin-left: auto;

    font-size: 16px;
    line-height: 24px;
  }

  &__modal {
    position: absolute;
    top: 0;

    display: none;
    width: 355px;
    height: 380px;

    background-color: rgba(238, 238, 238, 0.7);

    &-text {
      cursor: pointer;

      margin: 15px auto;

      color: rgba(0, 0, 0, 0.8);
      font-size: 13px;
      line-height: 36px;
      text-align: center;

      &:hover {
        color: black;
      }

      &:active {
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  &__button {
    margin-top: 170px;
    margin-left: 85px;
    

    padding-left: 35px !important;
    padding-right: 35px !important;
  }
}